body{
  margin:0;
  padding:0;
  background:url(bg.jpg) no-repeat center center;
  background-size:cover;
}
html,body{
  height:100%;
}
.box{
  width:450px;
  background:rgba(0,0,0,0.4);
  padding:40px;
  text-align:center;
  margin:auto;
  magin-top:5%;
  color: white;
  }

.box-img{
  border-radius:70%;
  width:200px;
  height:200px;
}

 .box h1{
   font-family:'Permanent Marker', cursive;
   font-size:40px;
   font-spacing:4px;
   font-weight:100;
}
.box h5{
  font-size:20px;
  letter_spacing:3px;
  font-weight:100
}
.box p{
  text-align:justify;
}
  
   
